.Sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 304px;
  margin: 0;
  padding:0 14px 0 8px;
  border-right: 2px solid #f0f2f5;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
          color: #050505;
}

/* main container for the main content */
.main {
  position: absolute;
  top: 0px;
  left: 310px;
  width: calc(100vw - 300px);
  height: 100%;
  background-color: #f0f2f5;
  overflow: hidden;
  overflow-y: scroll;
  padding: 2.5%;
  margin-left: 0;
}

.gameRow {
  width: calc(95vw - 300px);
  }

/* Row title text */
.gametitle {
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  width: 100%;
}
  
/* Grid of game cards.  Parent element to all cards */
.gameGrid {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 10px;
}

/* Parent container for all individual card elements */
.gameCard {
  position: relative;
  height: 100%;
  max-width:210px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  flex: 0 0 auto;
  scroll-snap-align: start;
  transition: filter 0.2s ease;
  aspect-ratio: 1 / 1;
  margin-right: 5px;
}

/* Slightly darkens card on mouse-over */
.gameCard:hover {
  filter: brightness(95%);
}
  
/* Adjusts card width based on screen width during resizing of view window */
  @media (max-width: 1500px) {
    .gameCard {
      flex-basis: calc(20% - 7px);
    }
  }
  
  @media (max-width: 1200px) {
    .gameCard {
      flex-basis: calc(25% - 7px);
    }
  }
  
  @media (max-width: 900px) {
    .gameCard {
      flex-basis: calc(33.33% - 7px);
    }
  }
  
  @media (max-width: 600px) {
    .gameCard {
      flex-basis: calc(50% - 7px);
    }
  }
  
  @media (max-width: 400px) {
    .gameCard {
      flex-basis: calc(100% - 7px);
    }
  }
  
/* Background image that's blured (appears below game image) */
  .gameCardBackground {
    width: 100%;
    height: 170px;
    background-size: cover;
    filter: blur(25px);
    position: absolute;
    top: 0;
    left: 0;
    transition: filter 0.2s ease;
  }
  
  /* Game title image */
  .gameImage {
    height: 55%;
    width: auto;
    object-fit: cover;
    z-index: 1;
  }
  
  /* Bottom region of game card.  Contains name and player count */
  .gameCardBottom {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
  }
  
  /* Game name text */
  .gameCardBottom h2 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Player count text */
  .playerCount {
    background-color: rgb(54, 53, 53);
    font-size: small;
    color: white;
    text-align: center;
    padding: 5px;
    width: fit-content;
    border-radius: 25px;
    margin: 5px;
    margin-left: 0;
  }



  @media (max-width: 800px) {
    .Post {
      min-width: 95%;
    }
    .Sidebar {
      display: none;
    }
    .Main {
      width: 100%;
      left: 0;
    }
    .FeedContainer {
      max-width: 90%;
    }
  }