.menuContainer {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  height: 50px;
  padding: 0;
  z-index: 99;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding: 0;
}

.main {
  flex-grow: 1;
  margin-top: 40px;
  background-color: #f0f2f5;
  width: calc(100% - 300px);
  margin-left: 300px;
  padding-left: 2.5%;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 300px;
  background-color: #ffffff;
  overflow: hidden;
  margin-left: 0;
  margin-top: 50px;
  border: 2px solid #f0f2f5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title, .description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #898F9C;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover, .card:focus, .card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.imageContainer {
  flex: 1;
  position: relative;
}
.menu {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
  z-index: 99;
}

.scrollContainer {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}


.logo {
  height: 1em;
}

.menuTitle {
  margin: 0;
}

.navBarContainer{
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  height: 50px;
  padding: 0;
  z-index: 99
}
