.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  height: 100vh;
  width: 300px;
  background-color: #ffffff;
  overflow: hidden;
  overflow-y: scroll;
  margin-left: 0;
  border: 2px solid #f0f2f5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding-left: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.sidebar_header_region {
  position: fixed;
  width: 300px;
  background: white;
}

.sidebar_search_region {
  padding-top: 40px;
}

.sidebar_header {
    display: flex;
    width: calc(100% - 7px);
    height: 30px;
    padding-top: 5px;
}

.settings_icon {
  background-color: #e4e6eb;
  width: 20px;
  height: 20px;
  padding: 8px;
  border-radius: 50%;
}

.rightIcon {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  font-size: 14px;  
}

.title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.search_input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding-top: 0px;
    border-radius: 999px;
    border: 0;
    height: 32px;
    margin-top: 8px;
    margin-bottom: 10px;
}
.search_input > input{
    border: none;
    background-color: transparent;
    outline-width: 0;
    padding: 0;
}

.settings_icon{
    align-self: right;
    margin-left: 10px;
    cursor: pointer;
}

/* width */
.sidebar::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0;
  border-radius: 10px;
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: #ffffff; /* Set the default color to white */
  border-radius: 10px;
}

/* Handle on hover */
.sidebar:hover::-webkit-scrollbar-thumb {
  background: #b1b1b1; /* Change the color to #b1b1b1 when hovering */
}

/* Handle on hover and when scrolling */
.sidebar:hover::-webkit-scrollbar-thumb:active {
  background: #b1b1b1; /* Adjust color as needed */
}

/* Handle when not hovering */
.sidebar:not(:hover)::-webkit-scrollbar-thumb {
  background: #ffffff; /* Change the color to white when not hovering */
}

/* Handle when not hovering and scrolling */
.sidebar:not(:hover)::-webkit-scrollbar-thumb:active {
  background: #ffffff; /* Adjust color as needed */
}


.sidebarLink {
display: flex;
height: 52px;
padding-right: 8px;
  color: black;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  border-radius: 10px;
  }
.sidebarLink:hover {
  background-color: #f0f2f5;
}
.sidebarLink:hover > .link_icon {
}
.link_icon {
  background-color: #e4e6eb;
  width: 20px;
  height: auto;
  padding: 7px;
  border-radius: 50%;
}

.divider {
  border-color: #CED0D4;
  margin: 10px;
  margin-bottom: 5px;
}

.sidebar_subtitle {
  width: 50%;
  font-weight: 600;
  font-size: 16px;
}

.link {
  text-decoration: none;
  color: #2e81f4;
}

.text_block {
  font-size: 12px;
  margin: 0;
}