.Sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 304px;
  margin: 0;
  padding:0 14px 0 8px;
  border-right: 2px solid #f0f2f5;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
          color: #050505;
}
.Main {
  position: absolute;
  top: 0px;
  left: 330px;
  width: calc(100vw - 334px);
  height: 100%;
  background-color: #e4e6eb;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0 0 0 2px;
  margin: 0;
}
  .FeedContainer {
    margin: 10px auto;
  }
    .Post {
      background-color: #ffffff;
      border-radius: 10px;
      padding: 10px 0;
      margin: 10px auto;
      max-width: 673px;
      min-width: 300px;
      width: 90%;
    }
      .Post > .Header {
        display: flex;
        align-items: center;
        padding: 0 0 0 10px;
      }
        .Avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 10px;
        }
        .Name {
          font-size: 14px;
          font-weight: 600;
          margin: 0;
        }
        .Name > .Follow {
          color: blue;
        }
        .Timestamp {
          font-size: 12px;
          margin: 0;
          color: #65676B;
        }
      .Post > .Body {
        padding: 0 10px;
      }
        .Body > h3 {
          font-size: 16px;
          margin: 0;
        }
        .Body > p {
          font-size: 16px;
          margin: 8px 0;
        }
        .Collapsed {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .Expanded {
          white-space: normal;
        }
        .SeeMore {
          color: blue;
          cursor: pointer;
        }
      .Post > .Footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
      }
        .Actions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 10px;
        }
        .Actions > .Action {
          display: flex;
          align-items: center;
          height: 100%;
          color: #65676B;
          font-size: 12px;
          cursor: pointer;
          border-radius: 2px;
          padding: 7px;
        }
          .Action > .Icon {
            width: 20px;
            height: auto;
            margin-right: 7px;
          }
          .Action:hover {
            background-color: #f0f2f5;
          }
        .ActionCounts {
          display: flex;
          align-items: center;
          height: 100%;
          color: #65676B;
          font-size: 12px;
          cursor: pointer;
          margin: 0 0 0 18px;
        }
          .Likes {
            display: flex;
            align-items: center;
          }
            .LikesIcon {
              width: 10px;
              height: auto;
              margin-right: 7px;
              background-color: #216FDB;
              color: white;
              padding: 4px;
              border-radius: 25px;
            }
            .HeartsIcon {
              width: 10px;
              height: auto;
              margin: 0 7px 0 -10px;
              background-color: #e41e3f;
              color: white;
              padding: 4px;
              border-radius: 25px;
            }
          .ActionCounts > *:hover {
            text-decoration: underline;
            cursor: pointer;
          }
          .ActionCounts > .Shares, .ActionCounts > .Space {
            text-decoration: none;
            cursor: default;
          }
      .Body > .Comments {
        display: flex;
        align-items: center;
        padding: 0 10px;
      }
        .Comments > .Comment {
          display: flex;
          align-items: center;
          margin: 5px 0;
        }
          .Comment > .Avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
          }
          .Comment > .Name {
            font-size: 12px;
            font-weight: 600;
            margin: 0;
          }
          .Comment > .Text {
            font-size: 12px;
            margin: 0;
          }
          .Comment > .Timestamp {
            font-size: 10px;
            margin: 0;
            color: #65676B;
          }
        .Comments > .Comment > .Reply {
          color: blue;
          font-size: 12px;
          margin-left: 40px;
          cursor: pointer;
        }
        .Comments > .Comment > .Reply:hover {
          text-decoration: underline;
        }
      .Body > .AddComment {
        display: flex;
        align-items: center;
        padding: 0 10px;
      }
        .AddComment > .Avatar {
          width: 30px;
      }

  @media (max-width: 800px) {
    .Post {
      min-width: 95%;
    }
    .Sidebar {
      display: none;
    }
    .Main {
      width: 100%;
      left: 0;
    }
    .FeedContainer {
      max-width: 90%;
    }
  }